<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .IsHome }}Home{{ else }}{{ .Title }}{{ end }} | {{ .Site.Title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css?v={{ now.Unix }}">
</head>

<body>
    <div class="container">
        <header id="site-header">
            <h1 class="site-title"><a href="/">{{ .Site.Title }}</a></h1>
            <nav id="site-nav">
                <a href="/">Index</a>
                <a href="/blog/">Log</a>
                <a href="/bio/">Bio</a>
            </nav>
        </header>

        <main id="content">
            {{ block "main" . }}{{ end }}
        </main>

        <footer id="site-footer">
            <p>&copy; {{ now.Year }} {{ .Site.Title }}</p>
        </footer>
    </div>
</body>

</html>