{{ define "main" }}

<h2 class="section-heading">Recent Logs</h2>
<ul class="directory-list">
    {{ range (first 5 (where .Site.RegularPages "Section" "blog")) }}
    <li>
        <a href="{{ .RelPermalink }}">
            <span class="item-date">{{ .Date.Format "2006-01-02" }}</span>
            <span class="item-name">{{ .Title }}</span>
            {{ with .Params.categories }}
            <span class="item-category">{{ index . 0 }}</span>
            {{ end }}
        </a>
    </li>
    {{ end }}
</ul>

{{ end }}
